@model mvc_gog.Models.LignePanier

@{
    ViewData["Title"] = "Delete";
}


<div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h1>Delete</h1>
                        <hr/>


<div>
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.NbreArticle)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.NbreArticle)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.produit)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.produit.ProduitID)
        </dd>
    </dl>


                        <form asp-action="Delete">
                            <input type="hidden" asp-for="LignePanierID" />
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            <a asp-controller="Paniers"  asp-action="Index"> <input type="button" class="btn btn-dark" value="Back to List" /></a>
                        </form>

                        
</div>
</div>
</div>
</div>
</div>
</div>
