@model IEnumerable<mvc_gog.Models.LignePanier>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Qte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.produit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.panier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Qte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.produit.ProduitID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.panier.PanierID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LignePanierID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LignePanierID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LignePanierID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
